[submodule "vast-2-sgai"]
	path = vast-2-sgai
	url = https://github.com/qualabs/vast-2-sgai
[submodule "dash.js"]
	path = dash.js
	url = https://github.com/qualabs/dash.js
[submodule "morpheus"]
	path = morpheus
	url = https://github.com/qualabs/morpheus
[submodule "real-time-ad-gen"]
	path = real-time-ad-gen
	url = git@github.com:qualabs/real-time-ad-gen.git
[submodule "stream-lens"]
	path = stream-lens
	url = git@github.com:qualabs/stream-lens.git
